button {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #7DA2A9;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #7DA2A9;
  font-weight: bold;
  font-size: 1.1em;
  padding: 0.8rem 1rem 0.8rem 1rem;
  transition: all 0.4s linear;
}

button:hover{
  color: #1D2228;
  border-color: #1D2228;
  transition: all 0.4s linear;
}

.transparent {
  border: 1px solid #7DA2A9;
  background: rgba(0, 0, 0, 0);
  font-size: 0.8em;
  font-weight: bold;
  font-size: 1.1em;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}
