.prodContainer {
  padding: 7rem 7rem;
  margin: 4rem 0;
  background-color: #eef3f4;

  .text {
    h3 {
      font-weight: 600;
    }
  }

  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    justify-items: center;
    align-items: center;

    .product {
      visibility: hidden;
    }
  }


}
