.prodContainer {
  margin: 2rem 0;
  box-sizing: border-box;


  #decor {
    margin-top: -31.5rem;
    width: 56.25rem;
    height: 31.5rem;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0 20rem 0 0;
  }

  .wrapper{
    overflow-x: hidden;
    padding: 4rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    left: auto;
    z-index: 1;

    #text {
      font-weight: bold;
      text-transform: uppercase;
      text-align: right;
      font-size: 1.5em;
      background: rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(30px);
      border-radius: 1rem;
      padding: 1.5rem 2rem;
      z-index: 2;
      position: relative;
      right: -5rem;

      a {
        color: white;
        text-decoration: #3790E9;

        b {
          color: #3790E9;
        }
      }
    }
  }
}

img{
  border-radius: 0.4rem;
}
