.pItemContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 14rem;
  padding: 7rem 0;
  visibility: hidden;

  .mainTextBox{
    //text-align: right;
    text-transform: uppercase;
    color: #7DA2A9;
    h3,h4 {
      margin: 0;
    }

    h3,h4,b{
      font-weight: 700;
    }

    h4 {
      color: #1D2228;
      font-size: 1em;
    }
  }

  .projectGallery {
    margin: 1rem 0;
  }

  .nextProject{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.5s linear;
    span {
      margin-right: 0.6rem;
      color: #1D2228;
      text-decoration: underline;
    }
    fa-icon{
      color: #1D2228;
    }
  }

  .nextProject:hover {
    opacity: 0.5;
  }
}
