#mainContainer {
  padding: 7rem 7rem;

  h3 {
    font-weight: 600;
  }

  .pointsContainer {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    justify-content: space-between;
    margin: 4rem;

    div {
      visibility: hidden;
    }
  }

}

@media only screen and (max-width: 1390px) {
  #mainContainer {
    padding: 1rem 0;

    h3, p {
      margin: 0 1.5rem;
    }
    .pointsContainer {
      flex-direction: column !important;
      padding: 0;
      margin: 1rem 0;
    }
  }
}
