<div #bg id="backgroundImage">
  <div class="pointsContainer">
    <div #points class="pointWrapper">
      <strong>Планираме</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div #points class="pointWrapper">
      <strong>Планираме</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div #points class="pointWrapper">
      <strong>Планираме</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div #points class="pointWrapper">
      <strong>Планираме</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
  </div>
</div>
