<nav [ngClass]="stickTop ? 'stickTop navContainer animated fadeInDown fast' : 'navContainer animated fadeInUp fast'">
  <div class="logo">
    <span>balustrades.<span class="accentText">EU</span></span>
  </div>

  <div class="navLinks">
    <ul class="navItems">
      <li><a href="">проекти</a></li>
      <li><a href="">продукти</a></li>
      <li><a href="">за нас</a></li>
    </ul>
    <app-button #button [text]="'Запитване за оферта'" [transparent]="false" [ngClass]="pulse ? 'animated pulse' : ''"></app-button>
  </div>
</nav>
