.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7rem;
  background-color: rgb(255, 255, 255);
  //max-height: 56px;

  .logo a#websiteName{
    font-size: 1.8em;
    font-weight: 600;
    color: #1D2228;
    //text-transform: uppercase;

    .accentText {
      color: #7DA2A9;
    }
  }

  .navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navItems {
      list-style-type: none;
      overflow: hidden;
      margin-right: 1.5rem;
      margin-bottom: 0;

      li {
        float: left;

        a {
          text-decoration: none;
          color: #1D2228;
          padding: 0.5rem;
        }

        a:hover {
          color: #7DA2A9;
        }
      }
    }
  }
}

.stickTop {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  transition: all 0.4s linear;
}

@media only screen and (max-width: 600px) {
  .navContainer {
    padding: 1rem;
  }

  a.mat-menu-item:last-of-type {
    background-color: #7DA2A9;
    color: #FFFFFF;
  }
}
