.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 2.5rem 1rem 2.5rem;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
  //max-height: 56px;

  .logo span{
    font-size: 1.45em;
    font-weight: 600;
    color: white;

    .accentText {
      color: #3790E9;
    }
  }

  .navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navItems {
      list-style-type: none;
      overflow: hidden;
      margin-right: 1.5rem;
      margin-bottom: 0;

      li {
        float: left;

        a {
          text-decoration: none;
          color: white;
          padding: 0.5rem;
        }
      }
    }
  }
}

.stickTop {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0));
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  transition: all 0.4s linear;
}
