<div class="container">
  <div class="wrapper">
    <div class="contacts">
      <div class="contactInfo">
        <span class="title">Contact us</span>
        <ul>
          <li>+359 87 708 9190</li>
          <li>+359 87 708 9190</li>
          <li>+359 87 708 9190</li>
        </ul>
        <hr>
        <ul>
          <li>beton_cast@abv.bg</li>
          <li><a href="">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a></li>
        </ul>
      </div>
      <app-contact-form></app-contact-form>
    </div>

    <div class="footer">
      <hr>
      <div class="footerWrapper">
        <div id="siteMap">
          <span class="footerTitle">Карта на сайта</span>
          <ul>
            <li><a href="">Начална страница</a></li>
            <li><a href="">Продукти</a></li>
            <li><a href="">Проекти</a></li>
            <li><a href="">За нас</a></li>
          </ul>
        </div>
        <div id="languages">
          <span class="footerTitle">Език</span>
          <ul>
            <li><a href="">Български</a></li>
            <li><a href="">English</a></li>
            <li><a href="">Français</a></li>
            <li><a href="">Русский</a></li>
            <li><a href="">Italiano</a></li>
          </ul>
        </div>
        <div id="address">
          <span class="footerTitle">Адрес</span>
          <ul>
            <li>гр. Левски, 5900</li>
            <li>Производствена база "Бившо" ОКС</li>
          </ul>
        </div>
        <div id="copyright"><span>© 2020 Balustrades.EU</span></div>

      </div>
    </div>
  </div>
</div>
