.containerHeader {
  width: 100%;
  height: 80vh;
  background-image: url(../../../assets/Header.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: space-between;

  .headerText {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: white;
    padding: 0 7rem;
    margin: auto 0;

    h1 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 3.6em;
    }

    h2 {
      font-size: 2.7em;
      font-weight: 300;
    }

    hr {
      width: 100%;
      margin: 0.5rem auto;
      background-color: white;
      border: 1px solid white;
    }
  }
}

#iconBoxes{
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  padding: 0 7rem;
  margin-top: -3rem;

  div{
    visibility: hidden;
  }
}


@media only screen and (max-width: 600px) {
  .containerHeader {
    height: 100vh;
    background-position-x: center;
    app-contact-bar{
      display: none;
    }

    .headerText{
      padding: 1.5rem;
      h1 {
        font-size: 2.6em;
      }

      h2 {
        font-size: 1.6em;
      }
    }
  }

  #iconBoxes{
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
}
