<section id="mainContainer">
  <div  #container id="aboutPreviewContainer">
    <div id="leftSide">
      <div id="years">
        <span #years id="yearsNumber">{{yearsExperience}}</span>
        <span id="yearsText">years<br>experience</span>
      </div>
    </div>
    <section id="rightSide">
    <strong class="title">За нас</strong>
    <p>
      Във връзка с настоящи и бъдещи ваши проекти, позволете да ви представя продуктите, които произвеждам. Изделията от
      бетон на ЕТ ”Цветомир Енев” присъстват на пазара от <strong>1996 година</strong>. Балюстрадите са основния
      продукт, върху който
      съсредоточих усилията си през изминалите години. Отличават се с <strong>перфектното си качество</strong> и
      <strong>конкурентната си цена</strong>.
      Всяко едно от изделията излиза от складовата база след прецизен оглед (шлайфано, без шупли и остатъчни ръбове).
      Като допълнение и <strong>улеснение за бъдещия монтаж</strong> предлагам готови ръкохватки и междинни колони,
      които придадоха
      завършен вид на парапета, а времето за монтиране, бе <strong>сведено до минимум</strong>. Надявам се, това кратко
      представяне да
      бъде полезно за вас и ще доведе до бъдеща съвместна работа!
    </p>
  </section>
  </div>
</section>
