#mainContainer{
  background-color: #eef3f4;
}
#aboutPreviewContainer{
  display: flex;
  position: inherit;
  align-items: center;
  justify-content: center;
  padding: 10rem;
  margin: 4rem 0;
  box-sizing: border-box;
  visibility: hidden;

  #leftSide{
    padding: 1rem;
    border-right: 1px solid #1D2228;
    text-transform: uppercase;
    text-align: right;


    #years {
      padding: 0.5rem 3rem 0 3rem;
      #yearsNumber{
        font-size: 10em;
        font-weight: 900;
        color: #7DA2A9;
      }

      #yearsText {
        color: #1D2228;
        text-align: right;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        position: relative;
        top: -5rem;
        left: 1rem;
        span {
          text-transform: uppercase;
        }
      }
    }
  }

  #rightSide{
    padding: 3rem;
    font-size: 1.1em;
    text-align: justify;
    color: #1D2228;
    max-width: 60%;
    .title{
      color: #1D2228;
      font-size: 1.2em;
      font-weight: 800;
      text-transform: uppercase;
    }
    p{
      margin-top: 1.5rem;
    }
    strong {
      color: #7DA2A9;
    }
  }
}

@media only screen and (max-width: 600px) {
  #aboutPreviewContainer{
    padding: 3rem 1.5rem;
    display: block;
    #leftSide{
      //display: none;
      border-right: none;
      text-align: center;
      #years {
        padding: 0;
      }
      #yearsText {
        flex-direction: row!important;
        top: -2rem!important;
        left: 35%!important;
        text-align: center!important;
        span:first-of-type {
          margin-right: 0.5rem;
        }
      }
    }
    #rightSide{
      max-width: 100%;
      padding: 0;
    }
  }

}
