mat-dialog-content {
  padding: 3rem;

  span {
    display: block;
  }

  i {
    color: #1D2228;
  }

  .fieldName {
    color: #7DA2A9;
    font-weight: bold;
  }

}

footer {
  padding: 0 1.5rem;
  display: flex;
  justify-content: flex-end;
}

