.boxContainer {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  padding: 2.6rem 2rem;
  width: 90%;
  z-index: 3;

  fa-icon{
    font-size: 2rem;
    color: #7DA2A9;
  }

  .offset{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #7DA2A9;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    margin: auto;
    margin-top: -4rem!important;

    fa-icon {
      color: white;
    }
  }

  h4 {
    color: #1D2228;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    margin: 1.6rem 0;
  }
}


@media only screen and (max-width: 1390px) {
  .boxContainer{
    margin: 1.5rem auto;
  }
}
