.mainContainer {
  border-radius: 10px;
  padding: 2.6rem 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-items: flex-end;

  .textContainer {
    background-color: rgba(255,255,255,0.89);
    border-radius: 10px;
    padding: 2rem;
    margin: 7rem 0 0 0;
    transition: all 0.5s linear;
    color: #1D2228;

     h5 {
       font-weight: 600;
       text-align: center;
     }

    p {
      text-align: justify;
    }

    .more{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      a {
        color: #1D2228;
      }
    }
  }
}

.mainContainer:hover {

  .textContainer{
    background-color: #7DA2A9;
    transition: all 0.5s linear;
    color: #FFFFFF;

    .more a {
      color: #FFFFFF;
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 600px) {
  .boxContainer{
    margin: 1.5rem auto;
  }
}
