#decorWrapper {
  #decor {
    margin-top: -72rem;
    width: 56.25rem;
    height: 71rem;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0 20rem 20rem 0;
    margin-bottom: 3rem;
  }
}
