.contactForm{

  form {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #7DA2A9;
    font-family: Lato, sans-serif;

    .firstRow {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      div{
        min-width: 49%;
      }
    }

    label {
      margin: 0.5rem 0 0.3rem 0;
    }

    .ng-touched.ng-invalid:not(form) {
     border-color:  #ab202a;
    }

    .ng-touched.ng-valid:not(form) {
      border-color:  #3790E9;
    }

    input, textarea {
      outline: none;
      color: #1D2228;
      background: #FFFFFF;
      border: 1px solid #7DA2A9;
      backdrop-filter: blur(10px) opacity(0.5);
      border-radius: 2px;
      padding: 0.5rem;
      width: 100%;
      resize: vertical;
    }

    textarea {
      resize: none;
      min-height: 10rem;
      max-height: 10rem;
      height: max-content;
      overflow-x: hidden;
      overflow-wrap: break-spaces;
    }

    textarea::-webkit-scrollbar {
      width: 1em;
    }

    textarea::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    textarea::-webkit-scrollbar-thumb {
      background-color: #7DA2A9;
      outline: 1px solid slategrey;
    }

    #submit {
      cursor: pointer;
      width: fit-content;
      text-transform: uppercase;
      color: #7DA2A9;
      font-weight: bold;
      margin: 1rem 0 0 0;
    }

    #submit.disabled {
      border-color: rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.2);
      cursor: auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  .firstRow div{
    min-width: 100%!important;
  }

}
