div {
  padding: 0 7rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1D2228;

  span {
    margin: 1rem 1rem 1rem 0;

    fa-icon {
      color: #7DA2A9;
      margin-right: 0.5rem;
    }
    a {
      color: #F7F7F7;
    }

    a:hover{
      color: #7DA2A9;
    }
  }

  #phoneNumber{
    margin-right: 3rem;
  }
}
