div {
  padding: 0 1rem 0 1rem ;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0));

  span {
    margin: 1rem 1rem 1rem 0;
  }
}
