.dropdown {
  width: 20rem;
  padding: 1rem;
  background: rgba(109,109,109,0.4);
  backdrop-filter: blur(10px);
  border-radius: 0.125rem;
  border-color: white;
  color: white;
  margin: 1rem;
}

.dropdown:after {
  padding-right: 1rem;
  color: red;
}

