/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Open Sans", Lato, Montserrat, sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  background-color: white;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out!important;
}

h1  {
  font-family: "Open Sans", sans-serif;;
  margin: 0;
}

h2  {
  font-family: Lato, sans-serif;
  margin: 0;
}
hr {
  margin: 0
}

/*Overwrite close icon style*/
span.close>fa-icon>svg[data-icon="plus"]{
  transform: rotate(45deg);
}

span.close>fa-icon>svg[data-icon="plus"]:hover{
  transition: all 0.3s linear;
  transform: rotate(135deg);
  color: #1D2228;
}

/*Overwrite MatDialog style*/
mat-dialog-container#modal-component, mat-dialog-container#inquiry {
  background: rgba(255, 255, 255, 0.98);
  border-radius: 10px;
}

/*Appearing style for all components*/
.show {
  visibility: visible!important;
  transition: visibility 1s linear;
}

/*Add border radius to carousel*/
.carousel-inner {
  border-radius: 7px;
}

/*Remove default blue border when button is on focus*/
:focus {
  outline: none;
}
